#menu {
  position: fixed;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  padding: 10vh 40px 20px 40px;
  padding-top: calc(var(--vh, 1vh) * 10);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  a {
    margin: 10px 0;
    font-size: 18px;
    @media screen and(max-width: 370px) {
      margin: 5px 0;
      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
  }

  .media__icons {
    display: flex;
    width: 100%;
    margin: auto 0 0 auto;
    align-items: center;
    #language {
      margin: 0;
      margin-right: auto;
      p {
        font-size: 16px;
        margin: 0 10px;
        &:nth-of-type(1) {
          margin-left: 0;
        }
      }
    }
    svg {
      transform: scale(1.4);
      fill: $text-color;
      margin: 0 20px;
      &:nth-of-type(1) {
        margin-left: 0;
      }
    }
  }
}
