#about {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  padding-top: 200px;
  background-image: linear-gradient(to right, #edfcff, #edfcff37);
  @media screen and(max-width: 620px) {
    grid-template-rows: repeat(2, max-content);
    padding-top: 100px;
  }
  .text-content {
    grid-column: 2/7;
    padding: 0 20px;
    @media screen and(max-width: 620px) {
      grid-column: 1/-1;
      grid-row: 2/3;
      padding: 0 40px;
    }
    h2 {
      font-size: 96px;
      @media screen and(max-width: 620px) {
        font-size: 50px;
      }
    }
    p {
      margin: 20px 0;
      font-size: 16px;
      @media screen and(max-width: 620px) {
        font-size: 14px;
      }
    }
  }
  .visual-content {
    grid-column: 7/12;

    background-image: url("../../images/aboutCover.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and(max-width: 620px) {
      grid-row: 1/2;
      grid-column: 1/-1;
      height: 300px;
    }
  }
}
