#fleet {
  width: 100vw;

  //SECTIONS
  #landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: url("../../images/BG.jpg");
    background-size: cover;
    background-position: center;
  }
  #description {
    .text-content {
      grid-column: 2/7;
      margin-top: 100px;
      ul {
        li {
          color: $main-color;
        }
      }
      @media screen and (max-width: 620px) {
        grid-column: span 4;
        margin-top: 30px;
        * {
          padding: 0 20px;
        }
        ul {
          padding: 10px 0;
        }
      }
    }
    .visual-content {
      grid-column: 7/12;
      margin-top: 100px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
      @media screen and (max-width: 620px) {
        grid-column: span 4;
        margin-top: 30px;
      }
    }
  }

  #exterior {
    .title {
      grid-column: 6/8;
      display: flex;
      justify-content: center;
      margin: 50px 0;
      @media screen and(max-width: 620px) {
        grid-column: 1/-1;
      }
    }
  }
  #interior {
    padding-bottom: 50px;
    .title {
      grid-column: 6/8;
      display: flex;
      justify-content: center;
      margin: 50px 0;
      @media screen and(max-width: 620px) {
        grid-column: 1/-1;
      }
    }
  }
  footer {
    height: 240px;
    background-color: $text-color;
    grid-column: 1/-1;
    margin-top: 60px;
  }
}
