#homepage {
  background-image: url("../../images/eldorisTheme.jpg");
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  .landing-page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;

    .description {
      h2 {
        font-size: 96px;
        @media screen and(max-width: 620px) {
          font-size: 50px;
        }
      }
      p {
        font-size: 16px;
        @media screen and(max-width: 620px) {
          font-size: 14px;
        }
      }
    }
  }
}
