#yacht {
  position: relative;
  z-index: 1;
  width: 100vw;
  background-image: linear-gradient(to right, #edfcff, #edfcff37);

  //SECTIONS
  #landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 90vh;
    }
    .description {
      ul {
        li {
          margin: 0;
        }
      }
      .button-container {
        margin-top: 0;
      }
    }
  }

  #description {
    @media screen and (max-width: 620px) {
      grid-template-rows: repeat(2, min-content);
    }
    .text-content {
      grid-column: 2/7;
      margin-top: 100px;
      padding: 0 20px;

      ul {
        padding: 20px 0 0 0;
        li {
          color: $main-color;
          display: flex;
          align-items: center;
          span {
            width: 13px;
            height: 13px;
            border-radius: 7px;
            border: 1px solid $main-color;
            margin: 0 10px;
          }
        }
      }
      p {
        padding: 20px 0;
      }
      @media screen and (max-width: 920px) {
        h2 {
          font-size: 24px;
        }
      }
      @media screen and (max-width: 620px) {
        grid-column: 1/-1;
        grid-row: 2;
        margin-top: 30px;
        padding: 0 20px;
        ul {
          padding: 10px 0;
        }
      }
    }
    .visual-content {
      grid-column: 7/12;
      margin-top: 100px;
      overflow: hidden;
      max-height: 500px;
      img {
        width: 100%;
        height: auto;
      }
      @media screen and (max-width: 1200px) {
        max-height: 400px;
      }
      @media screen and (max-width: 620px) {
        grid-column: 1/-1;
        grid-row: 1;
        margin-top: 0;
      }
    }
  }

  #exterior {
    .title {
      grid-column: 6/8;
      display: flex;
      justify-content: center;
      margin: 20px 0;
      @media screen and(max-width: 620px) {
        grid-column: 1/-1;
      }
    }
  }
  #interior {
    padding-bottom: 50px;
    .title {
      grid-column: 6/8;
      display: flex;
      justify-content: center;
      margin: 50px 0;
      @media screen and(max-width: 620px) {
        grid-column: 1/-1;
      }
    }
  }
  footer {
    height: 240px;
    background-color: $text-color;
    grid-column: 1/-1;
    margin-top: 60px;
  }
}
