@import "./variables.scss";
@import "./pages/Homepage.scss";
@import "./pages/About.scss";
@import "./pages/Fleet.scss";
@import "./pages/Yacht.scss";
@import "./pages/Contact.scss";
@import "./pages/Destinations.scss";
@import "./components/Navbar.scss";
@import "./components/fleet/SubPanel.scss";
@import "./components/fleet/Slider.scss";
@import "./components/fleet/Reviews.scss";
@import "./components/fleet/CallToAction.scss";
@import "./components/fleet/OtherBoats.scss";
@import "./components/Modal.scss";
@import "./components/fleet/Features.scss";
@import "./components/fleet/Pagination.scss";
@import "./components/Loading.scss";
@import "./components/Reveal.scss";
@import "./components/Menu.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  font-family: "Comfortaa", cursive;
}
body {
  position: relative;
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  text-decoration: none;
  color: $text-color;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 1em, 0;
  color: $text-color;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: $text-color;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 184px;
  height: 40px;
  margin: 10px;
}
//FONTS
textarea,
input,
button {
  font-family: "Comfortaa", cursive;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h1,
h2 {
  @media screen and (max-width: 620px) {
    font-size: 32px;
  }
}
p,
li,
a {
  font-size: 14px;
  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }
}
#py-charter {
  overflow: hidden;
}
//GLOBAL CLASSES
.page__background {
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(to right, $main-color, $light-color);
  overflow: hidden;
  h3 {
    color: white;
    font-size: 26px;
    @media screen and (max-width: 620px) {
      font-size: 20px;
    }
  }
}
#homepage,
#fleet {
  position: relative;
  z-index: 9;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.primary-button {
  box-shadow: 0 0 12px #0091b13f;
  border-radius: 48px;
  background: linear-gradient(90deg, $main-color, $light-color);
  color: white;
  a {
    color: white;
  }
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}
.secondary-button {
  box-shadow: 0 0 12px #0091b13f;
  border-radius: 48px;
  background-color: $lightest-color;
  color: $main-color;
  a {
    color: $main-color;
  }
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}
.tertiary-button {
  border: 1px solid $main-color;
  background-color: white;
  color: $main-color;
  border-radius: 48px;
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}
.description {
  position: relative;
  grid-column: 2/6;
  min-height: 45%;
  height: 400px;
  margin: 200px 0 0 0;
  padding: 20px;
  min-width: 500px;
  background-color: $transparent-color;
  .text-content {
    z-index: 1;
    max-width: 564px;
    * {
      margin: 10px 0;
    }
    @media screen and (max-width: 620px) {
      text-align: center;
      h1,
      h2 {
        margin: 0;
      }
      h2 {
        font-size: 24px;
      }
      ul {
        li {
          margin: 5px;
        }
      }
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    @media screen and (max-width: 620px) {
      flex-direction: column;
      // padding-top: 10px;
    }
  }
  @media screen and (max-width: 620px) {
    grid-column: 2 / 12;
    min-width: 320px;
    margin: 150px 0 0 0;
  }
}
.active {
  pointer-events: auto;
  z-index: 99;
}
.inactive {
  pointer-events: none;
  z-index: -1;
}
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
