$text-color: #003e43;
$lightest-color: #edfcff;
$light-color: #a4d8e1;
$main-color: #0091b1;
$shadow-color: #a4d8e174;
$border-color: #c4c4c4;
$error-color: #ee0004;
$inactive-color: #c4c4c4;
$transparent-color: #edfcffac;
