.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  grid-row: 2/3;
  grid-column: 6/8;
  @media screen and(max-width: 620px) {
    grid-column: 1/-1;
  }
  span {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid $main-color;
    margin: 0 5px;
    font-size: 30px;
  }
}
