.slider {
  grid-column: 1/-1;
  grid-template-rows: repeat(3, max-content);
  width: 100%;
  align-items: center;
  padding: 0 20px;
  @media screen and(max-width: 620px) {
    padding: 0;
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $main-color;
    color: $main-color;
    justify-self: center;
    font-size: 24px;
    grid-row: 1/2;
    margin: 0 10px;
    &:nth-of-type(1) {
      grid-column: 1/2;
    }
    &:nth-of-type(2) {
      grid-column: 12/13;
    }
    @media screen and(max-width: 620px) {
      width: 40px;
      height: 40px;
      font-size: 12px;
      grid-row: 3/4;
      justify-self: center;
      &:nth-of-type(1) {
        grid-column: 5/7;
      }
      &:nth-of-type(2) {
        grid-column: 7/9;
      }
    }
  }

  .gallery {
    grid-column: 4/10;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
    display: flex;
    max-height: calc(var(--vh, 1vh) * 70);

    @media screen and (max-width: 620px) {
      grid-column: 1/-1;
    }
    .image-container {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
